<h1>Create New Task</h1>
<!-- l  <input type="text" name="name" value="">
  <input type="submit" name="name" value="create" class="btn btn-success">
</form>
 -->
<%= simple_form_for(@task, html: { class: 'form-horizonta' }) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.submit "Add Task", class: "btn btn-primary" %>
<% end %>